altgraph==0.17.3
certifi==2022.9.24
cfractions==2.2.0
charset-normalizer==2.1.1
contourpy==1.0.6
cycler==0.11.0
defusedxml==0.7.1
et-xmlfile==1.1.0
fonttools==4.38.0
idna==3.4
json2xml==3.20.0
kiwisolver==1.4.4
matplotlib==3.6.2
mpmath==1.2.1
numpy==2.1.1
openpyxl==3.1.2
packaging==22.0
pillow==10.4.0
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PyQtChart==5.15.7
PyQtChart-Qt5==5.15.15
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
urllib3==2.2.3
